#bg-img{
    margin-top: 2em;
    flex: 1;
    width: 100%;
    opacity: 1;
    height: 40vh;
    justify-content: flex-start;
    filter: blur(8px);
}

#cover{
    position: absolute; 
    top: 7em; 
    left: 5em; 
    right: 5em;
    box-shadow: 0px 15px 50px 15px #111;
}
