<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon.png" style="width: 30px; height: 30px;" alt="logo">
      <b>{{Album? Album.nombre : 'Songs'}}</b>
    </ion-title>
  </ion-toolbar>
  <ion-searchbar animated [(ngModel)]="search" debounce="500" (keydown)="searchTrack()"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-img style="height: 256px; width: auto; z-index: -1;" [src]="Album.artistas[0]? url + Album.artistas[0].imagen.url : '/assets/icon.png'">
  </ion-img>
  <ion-fab-button color="tertiary"  class="fab-button-play" >
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>

  <app-list *ngIf="Album.tracks.length > 0" 
    [name]="Album.nombre" [Tracks]="Album.tracks"
    [album]="Album.nombre" [artist]="Album.artistas[0].nombre"
    ></app-list>
</ion-content>

