<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon.png" style="width: 30px; height: 30px;" alt="logo">
      <b>{{Album? Album.nombre : 'Songs'}}</b>
    </ion-title>
  </ion-toolbar>
  <ion-searchbar animated [(ngModel)]="search" debounce="500" (keydown)="searchTrack()"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-img style="height: 256px; width: auto; z-index: -1;" [src]="Album.artistas[0]? url + Album.artistas[0].imagen.url : '/assets/icon.png'">
  </ion-img>
  <ion-fab-button color="tertiary"  class="fab-button-play" (click)="setTrackList(0)">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>

  <ion-grid style="box-shadow: 0px -40px 45px rgb(0, 0, 0); z-index: 1000; position: relative;">

    <ion-row>
      <ion-col size="12">

        <div *ngIf="Album.canciones.file.length === 0;" 
        class="ion-text-center" style="position: absolute; top: 10em; left: 5em; right: 5em;">
          <ion-text>This Album is empty</ion-text>
        </div>

        <ion-list *ngIf="Album && Album.canciones.file.length > 0;">
          <div *ngFor="let track of TrackList; let i=index" >
            <ion-item (click)="setTrackList(i)" button detail="false" *ngIf="i<slice">
              <ion-thumbnail slot="start">
                <ion-img [src]="track.ImageUrl" ></ion-img>
              </ion-thumbnail>
              <ion-label>
                <div class="{{activeTrack === (track.Name + ' - ' + track.ArtistName)? 'danger marquee' : 'overfload dark'}}">
                  <p>Track: {{i < 9? '0'+(i+1) : (i+1)}} {{ track.Name  | titlecase}} &nbsp;</p>
                </div>
                <p class="{{activeTrack === (track.Name + ' - ' + track.ArtistName)? 'activeTrack' : ''}}">Album: {{track.AlbumName}}</p>
                <p>Artist: {{track.ArtistName}}</p>
                <small>Reprocucciones: {{track.Plays}}</small>
              </ion-label>
              <ion-icon name="{{activeTrack === (track.Name + ' - ' + track.ArtistName)? 'pause' : 'play'}}" slot="end"></ion-icon>
            </ion-item>
          </div>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openModal()" color="tertiary" >
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

